{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to FARMSTORE</h1><br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">REGISTER</button>
    </form>

</body>
</html>